.App {
  font-family: sans-serif;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 20px;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h1 {
  background-color: rgb(97, 141, 181);
  margin: 10px;
  padding: 10px;
  position: relative;
}

.signature {
  font-family: 'Cursive', Lucida Handwriting;
  font-size: 0.5rem; 
  display: block;
  margin-top: 5px;
  opacity: 0.8; 
}


